body{
    background-color: rgb(206, 168, 241);
}
.App{
    background-color: rgb(133, 174, 250);
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
}
.input{
    background-color: cornsilk;
    border:0;
    position:relative;
    width: 200px;
    height: 50px;
    padding: 20px 20px;
    margin: 20px;
    font-size: 18px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}
.to-do form ::placeholder{
    color: rgba(255,255,255,0.5);
}
.to-do form input:focus,#to-do form button:focus{
    outline: none;
}
.button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(63, 6, 75);
    cursor: pointer;
    font-weight: bolder;
    color: honeydew;
}